@import "../../global.scss";
.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../../images/l.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .loginTitle {
    font-size: 50px;
    color: whitesmoke;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    @include mobile {
      width: 100%;
      font-size: 50px;
      text-align: left;
      margin-left: 50px;
    }
  }
  .loginForm {
    height: 400px;
    display: flex;
    flex-direction: column;
    border: 1.5px solid gray;
    width: 35%;
    background: linear-gradient(rgba(1, 1, 1, 0.44), rgba(1, 1, 1, 0.4));
    border-radius: 10px;
    box-shadow: 0px 0px 18px -4px black;
    padding: 20px;
    @include mobile {
      width: 90%;
    }

    label {
      font-size: 30px;
      font-weight: 500;
      margin-top: 50px;
      color: whitesmoke;
      margin-bottom: 5px;
    }

    input {
      border: none;
      outline: none;
      background-color: transparent;
      border-bottom: 2px solid rgb(104, 102, 102);
      padding: 10px;
      font-size: 20px;
      color: whitesmoke;
    }
    ::placeholder {
      color: white;
      font-size: 18px;
    }
  }
  .loginBtn {
    border: none;
    outline: none;
    margin-top: 20px;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 22px;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.6s ease;
    color: whitesmoke;

    &:hover {
      background: linear-gradient(rgba(1, 1, 1, 0.33), rgba(1, 1, 1, 0.33));
    }
    &:disabled {
      cursor: not-allowed;
    }
  }

  .registerBtn {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 10%;
    border: none;
    outline: none;
    padding: 6px;
    border-radius: 10px;
    background: linear-gradient(rgba(1, 1, 1, 0.4), rgba(1, 1, 1, 0.33));
    font-size: 22px;
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
    @include mobile {
      width: 25%;
      right: 20px;
    }
  }
}
