@import "../../global.scss";
.menu {
  width: 300px;
  height: 100vh;
  background-color: rgb(133, 131, 131);
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 1s ease;
  @include mobile {
    height: 120%;
  }

  &.active {
    right: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    color: white;
    width: 70%;

    li {
      margin-bottom: 20px;

      a {
        text-decoration: none;
        font-size: inherit;
        color: inherit;
      }

      &:hover {
        font-weight: 500;
      }
    }
  }
}
