.header {
  margin-top: 40px;
  //   padding: 10px;

  .headerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    margin-top: 5px;
    width: 100%;
    height: 500px;
  }
}
