@import "../../global.scss";
.singlePost {
  flex: 9;

  @include mobile {
    width: 120%;
  }

  .wrapper {
    padding: 20px;

    @include mobile {
      width: 100%;
    }

    .postImg {
      width: 100%;
      height: 550px;
      border-radius: 12px;
      box-shadow: 0px 0px 15px -4px black;
      cursor: pointer;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 20px 0;
      box-shadow: 0px 0px 15px -8px rgba(39, 38, 38, 0.5);
      padding: 7px;
      border-radius: 10px;

      @include mobile {
        font-size: 25px;
        margin-top: 10px;
      }

      .editContainer {
        display: flex;
        align-items: center;

        .icon {
          margin-left: 15px;
          cursor: pointer;
          font-size: 16px;
        }
        .icon:first-child {
          color: teal;
        }
        .icon:last-child {
          color: tomato;
        }
      }
    }
    .infoContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .date {
        font-size: 13px;
        color: rgb(165, 162, 162);
      }
    }
    .desc {
      font-size: 18px;
      color: #666;
      line-height: 25px;
      margin-top: 10px;
      padding: 10px;
      box-shadow: 0px 0px 15px -8px rgba(39, 38, 38, 0.5);
    }

    .desc::first-letter {
      font-size: 30px;
      margin-left: 20px;
      font-weight: 600;
    }
  }
}
