.post {
  width: 385px;
  margin: 0px 25px 40px 25px;

  .postImg {
    width: 100%;
    height: 280px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
  }

  .postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .postCats {
      .postCat {
        font-size: 11px;
        color: #be9656;
        line-height: 20px;
        margin-top: 15px;
        margin-right: 10px;
      }
    }
    .postUser {
      opacity: 0.8;
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 10px;
      cursor: pointer;
      font-family: "Allison", cursive;
    }
    .postTitle {
      font-weight: 600;
      margin-top: 15px;
      cursor: pointer;
      font-size: 24px;
    }
    .postDate {
      font-size: 13px;
      margin-top: 10px;
      color: #999;
    }
  }
  .postDesc {
    font-size: 14px;
    color: #444;
    line-height: 20px;
    margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}
